head{

    color:aquamarine;
    
}
a:link, a:visited {
  background-color: rgba(233, 171, 78, 0.664);
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active{
  background-color: rgb(85, 59, 59);
}
body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
    font-family: Verdana;
    font-size: 150%;
    margin: 50px;
  }
  p {
    color: rgb(70, 31, 31);
    font-family: 'Times New Roman';
    font-size: 80%;
   
  }